* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --accent1-color: rgb(147, 26, 26); /*deep red*/
    --secondary-color: rgb(4, 63, 4); /*forest green*/
    --primary-color: rgb(194, 187, 179);
    --accent2-color: rgb(241, 179, 65);
    --accent3-color: rgb(31, 31, 60, 0.6);
    --heading-font: "SquishyFont";
    --body-font: Arial, Helvetica, sans-serif;
    --font-size: 16px;
}

@font-face {
    font-family: "SquishyFont";
    src: url("../fonts/KBSquishyBlanket.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);    
}

header, main, footer {
    width: 95%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav img {
    justify-content: center;
    padding: 10px;
}

header nav a {
   text-decoration: none;
    color: var(--primary-color)
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 3.5em;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    margin: 0 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article p {
    text-align: justify;
}

h1 {
    top: 20px;
    width: 100%;
    padding: 5px 16px 0px;
    text-align: center;
    color: var(--primary-color);
}

#title {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.66;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-size: 2rem;
}

#contact {
    top: 20px;
    width: 100%;
    padding: 5px 16px 0px;
    text-align: center;
    color: var(--secondary-color);
    font-size: .5em; 
}

.contact {
    font-size: 1em;
    padding: 0;
    text-align: center;
    margin: 0;
}

.hero article {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 50%;
    height: auto;
    padding: 10px;
    background-color: var(--accent3-color);
    font-size: 1.2em;
}

.hero article img {
    float: right;
    width: 40%;
    height: auto;
    padding-left: 10px;
}

section {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

footer p {
    grid-column: 2/3;
}

footer nav {
    grid-column: 3/4;
}

h3 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

.history {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 3fr 2fr 3fr;
}

.history img {
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.history p {
    font-size: 1.5em;
    padding: 0 20px;
    margin: 0 10px;
}

#history {
    grid-column: 1/4;
}

.adventure {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.adventure figure {
    grid-row: 2/3;
    text-align: center;
    color: var(--primary-color);
}

.adventure figure img {
    width: 200px;
    height: auto;
    padding: 10px;
    border-bottom: 1px dashed black;
}

.employee {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    text-align: center;
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
}

.employee h2 {
    grid-column: span 3;
    margin-top: 20px;
}

.employee figure figcaption {
    padding: 10px;
    border-top: 1px solid var(--primary-color);
    text-align: center;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 5px;
}

.employee figure img {
    border-radius: 50%;
    text-align: center;
    width: 100%;
    max-width: 250px;
}

.maps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    justify-content: space-around;
    text-align: center;
}

button {
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border: 2px solid var(--accent2-color);
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--accent3-color);
}

textarea {
    font-family: var(--body-font);
    width: 200px;
    height: auto;
}

form {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    font-weight: bold;
    margin-bottom: 4px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--accent2-color);
  border-radius: 4px;
  font-family: var(--body-font);
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 8px;
  display: inline-block;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
}

.radio-group label,
.checkbox-group label {
  display: flex;
  align-items: start;
  margin-bottom: 0;
}

iframe {
    width: 100%;
    max-width: 600px; 
    height: 500px; 
}

.trips {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px 1fr;
    gap: 2em;
}

.trips h3 {
    grid-column: 1/5;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
    border-bottom: 5px dotted var(--primary-color);
}

.trips figure figcaption {
    font-size: .75rem;
    margin: 10px;
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: justify;
}

.trips figure img {
    width: 90%;
    max-width: 700px;
    height: auto;
    border-radius: 40%;
}

h4 {
    font-size: 1.5rem;
}
.trips div {
    text-align: left;
    padding: 10px;
    border-left: 1px dotted var(--primary-color)
}
.trips div p {
    font-size: 1rem;
}

.trips div img {
    width: 100px;
    height: auto;
    align-self: center;
}

.trip_info {
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--accent2-color);
    text-align: left;
}

.trip_info h2 {
    color: var(--accent2-color);
    font-size: 1.5rem;
}

.trip_info ul {
    list-style-position: inside;
    margin-left: 20px;
}

.trip_info p a {
    text-decoration: none;
    color: var(--accent2-color);
    font-size: 1.1em;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid var(--accent2-color);
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

td {
    font-style: italic;
}

thead {
    font-weight: 200;
}

caption {
    font-family: var(--heading-font);
    font-size: 2rem;
}

tfoot {
    font-size: 0.8rem;
}

.book {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    text-decoration: none;
    color: var(--accent2-color);
    border: 1px solid var(--accent2-color)
}

.book:hover {
    background-color: var(--accent3-color);
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.news div {
    grid-column: 1/3;
}

.learn {
    text-align: center;
}

.learn h2 {
    font-size: 2rem;
    color: var(--primary-color);
    padding-bottom: 10px;
}

.mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.mission h2 {
    grid-column: 1/3;
    border-bottom: 3px dotted var(--primary-color);
}

.mission p {
    text-align: justify;
    border: 1px solid var(--accent2-color);
    font-size: 1.7em;
    justify-self: center;
}

.mission img {
    height: auto;
    width: 70%;
    justify-self: center;
}