* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: cadetblue;
    margin: 20px;
    border-bottom: 1px dotted black; 
}

footer p {
    text-align: center;
    margin: 1rem auto 0;
    font-size: .8em;
    border-top: 1px dashed black;
    padding: 5px;
}

form {
    width: 85%;
    height: auto;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    border: 0;
    border-radius: 1em;
    background-color: cadetblue;
    display: grid;
    align-self: center;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
}

fieldset label {
    margin: 5px;
    border-bottom: 1px dotted black;
    text-align: left;
    padding-right: 1em;
}

fieldset input, select, option {
    font-size: .9em;
    border-radius: 1em;
}

input, select, textarea {
    padding: 10px;
    font-size: large;
}

legend {
    font-size: 1.5rem;
    color: white;
    padding: 5px;
}

#checkbox {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    width: 200px;
    border-radius: 10%;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

textarea {
    width: 60%;
}

button:hover {
    background-color: darkcyan;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1em;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.label {
    display: block;
    margin-bottom: .5rem;
}